<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.aries.aries" version="0.8.0" class="org.integratedmodelling.aries.ARIESPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.aries.core"/>
		<import plugin-id="org.integratedmodelling.aries.marine"/>
		<import plugin-id="org.integratedmodelling.aries.valuation"/>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.thinklab.mca"/>
		<import plugin-id="org.integratedmodelling.thinklab.opal"/>
		<import plugin-id="org.integratedmodelling.thinklab.clojure"/>
		<import plugin-id="org.integratedmodelling.thinklab.corescience" reverse-lookup="true" />
		<import plugin-id="org.integratedmodelling.thinklab.dolce"/>
		<import plugin-id="org.integratedmodelling.thinklab.ecology"/>
		<import plugin-id="org.integratedmodelling.thinklab.geospace" reverse-lookup="true" />
		<import plugin-id="org.integratedmodelling.thinklab.time"/>
		<import plugin-id="org.integratedmodelling.thinklab.modelling" reverse-lookup="true" />
		<import plugin-id="org.integratedmodelling.thinklab.sql"/>
		<import plugin-id="org.integratedmodelling.thinklab.metadata"/>
		<import plugin-id="org.integratedmodelling.thinklab.currency"/>
		<import plugin-id="org.integratedmodelling.thinklab.riskwiz" reverse-lookup="true" />
	</requires>

	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>		
		<library type="resources" path="config/" id="config" />
	</runtime>
		
</plugin>