<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!--
Copyright 2011 The ARIES Consortium (http://www.ariesonline.org)

This file is part of ARIES.

ARIES is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 3 of the License,
or (at your option) any later version.

ARIES is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with ARIES.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin class="org.integratedmodelling.aries.ARIESPlugin"
        id="org.integratedmodelling.aries.aries"
        version="1.0.0-beta">

  <requires>
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.aries.core"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.aries.marine"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.aries.valuation"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.core"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.mca"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.opal"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.clojure"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.corescience"
            reverse-lookup="true" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.dolce"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.ecology"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.geospace"
            reverse-lookup="true" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.time"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.modelling"
            reverse-lookup="true" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.sql"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.metadata"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.currency"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.riskwiz"
            reverse-lookup="true" />
  </requires>

  <runtime>
    <library id="core" path="classes/" type="code">
      <export prefix="*" />
    </library>
    <library id="config" path="config/" type="resources" />
  </runtime>

</plugin>
