<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.aries.valuation.ARIESValuationPlugin" id="org.integratedmodelling.aries.valuation" version="0.8.1.20110428103923">

	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.modelling" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.metadata" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.sql" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.currency" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.aries.core" reverse-lookup="false"/>
	</requires>

	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="ontologies" path="ontologies/" type="resources"/>
		<library id="clojure-bindings" path="bindings/clojure/" type="resources"/>
		<library id="models" path="models/" type="resources"/>
		<library id="etc" path="etc/" type="resources"/>
		<library id="data" path="data/" type="resources"/>
		<library id="config" path="config/" type="resources"/>
	</runtime>
	
	<!-- create kboxes if necessary; must have pg installed  -->
	<extension id="import-esd" plugin-id="org.integratedmodelling.thinklab.core" point-id="application">
		<parameter id="id" value="import-esd"/>
		<parameter id="declaration">
			<parameter id="language" value="clojure"/>
			<parameter id="script" value="applications/bibliodata.clj"/>
			<parameter id="script" value="applications/bibliodata2.clj"/>
		</parameter>
	</extension>
	
	<!-- ontologies -->
	<extension id="esvaluation" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="esvaluation.owl"/>
		<parameter id="concept-space" value="esvaluation"/>
	</extension>
	
	<!-- bindings -->
	<extension id="clj" plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding">
		<parameter id="language" value="clojure"/>
		<parameter id="resource" value="valuation.clj"/>
		<!-- <parameter id="resource" value="calculator.clj"/> -->
	</extension> 
	
</plugin>
