<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.aries.valuation" version="0.8.0" class="org.integratedmodelling.aries.valuation.ARIESValuationPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.thinklab.modelling"/>
		<import plugin-id="org.integratedmodelling.thinklab.metadata"/>
		<import plugin-id="org.integratedmodelling.thinklab.sql"/>
		<import plugin-id="org.integratedmodelling.aries.core"/>
	</requires>

	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		
<!--		<library type="resources" path="ontologies/" id="ontologies" />
		<library type="resources" path="bindings/clojure/" id="clojure-bindings" />
		<library type="resources" path="models/" id="models" /> -->
		<library type="resources" path="utils/" id="utils" />
		<library type="resources" path="data/" id="data" />
		<library type="resources" path="config/" id="config" />
	</runtime>
	
	<!-- create kboxes if necessary; must have pg installed  -->
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="application" id="import-esd">
		<parameter id="id" value="import-esd"/>
		<parameter id="declaration">
			<parameter id="language" value="clojure"/>
			<parameter id="script" value="applications/bibliodata.clj"/>
		</parameter>
	</extension>
	
</plugin>