<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.aries.valuation" version="0.8.0" class="org.integratedmodelling.aries.valuation.ARIESValuationPlugin">

	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core"/>
		<import plugin-id="org.integratedmodelling.aries.core"/>
	</requires>

	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		
<!--		<library type="resources" path="ontologies/" id="ontologies" />
		<library type="resources" path="bindings/clojure/" id="clojure-bindings" />
		<library type="resources" path="models/" id="models" /> -->
		<library type="resources" path="data/" id="data" />
		<library type="resources" path="config/" id="config" />
		
	</runtime>
	
	<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="command-handler" id="translate">
		<parameter id="class" value="org.integratedmodelling.aries.valuation.commands.Translate"/>
		<parameter id="command-name" value="esd-translate"/>
		<parameter id="command-description" value="Translate legacy data (temporary)"/>
		<parameter id="optional-argument-names" value="file"/>
		<parameter id="optional-argument-types" value="thinklab-core:Text"/>
		<parameter id="optional-argument-descriptions" value="file to translate"/>
		<parameter id="optional-argument-default-values" value="__none"/>
	</extension>
	
</plugin>