<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.aries.marine.ARIESMarinePlugin" id="org.integratedmodelling.aries.marine" version="0.8.1.20110428103921">

	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.modelling" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.metadata" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.sql" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.aries.core" reverse-lookup="false"/>
	</requires>

	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*"/>
		</library>
		<library id="ontologies" path="ontologies/" type="resources"/>
		<library id="models" path="models/" type="resources"/> 
		<library id="data" path="data/" type="resources"/>
		<library id="config" path="config/" type="resources"/>
		<library id="bn" path="bn/" type="resources"/>
	</runtime>
	
	<extension id="coastalProtection" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="coastalProtection.owl"/>
		<parameter id="concept-space" value="coastalProtection"/>
	</extension>
	
	<extension id="fisheries" plugin-id="org.integratedmodelling.thinklab.core" point-id="ontology">
		<parameter id="url" value="fisheries.owl"/>
		<parameter id="concept-space" value="fisheries"/>
	</extension>
	
<!--		<extension plugin-id="org.integratedmodelling.thinklab.core" point-id="language-binding" id="clj">
		<parameter id="language" value="clojure"/>
		<parameter id="classpath" value="bindings/clojure/"/>
	<parameter id="resource" value="coastal.clj" />
		<parameter id="resource" value="fisheries.clj" />
	</extension>  -->
</plugin>
