<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="org.integratedmodelling.aries.administration.ARIESAdministrationPlugin"
        id="org.integratedmodelling.aries.administration"
        version="1.0.0-beta">

  <requires>
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.thinklab.core"
            reverse-lookup="false" />
    <import exported="false"
            match="compatible"
            optional="false"
            plugin-id="org.integratedmodelling.aries.aries"
            reverse-lookup="false" />
  </requires>

  <runtime>
    <library id="core" path="classes/" type="code">
      <export prefix="*" />
    </library>
    <library id="etc" path="etc/" type="resources" />
    <library id="data" path="data/" type="resources" />
    <library id="config" path="config/" type="resources" />
  </runtime>

  <!-- create kboxes if necessary; must have pg installed -->
  <extension id="import-geodata" plugin-id="org.integratedmodelling.thinklab.core" point-id="application">
    <parameter id="id" value="aries.initdb" />
    <parameter id="declaration">
      <parameter id="language" value="clojure" />
      <parameter id="script" value="applications/load_data.clj" />
    </parameter>
  </extension>

</plugin>
