<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!--
Copyright 2011 The ARIES Consortium (http://www.ariesonline.org)

This file is part of ARIES.

ARIES is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published
by the Free Software Foundation, either version 3 of the License,
or (at your option) any later version.

ARIES is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with ARIES.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin class="org.integratedmodelling.aries.webapp.ARIESWebappPlugin" id="org.integratedmodelling.aries.http.explorer" version="0.8.1.20110428103932">
	
	<requires>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.searchengine" reverse-lookup="true"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.modelling" reverse-lookup="true"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.mca" reverse-lookup="true"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.aries.aries" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.http" reverse-lookup="false"/>
		<import exported="false" match="compatible" optional="false" plugin-id="org.integratedmodelling.thinklab.http.geospace" reverse-lookup="false"/>
	</requires>	
	
	<runtime>
		<library id="plugin" path="classes/" type="code"> 
			<export prefix="*"/>
		</library> 
		<library id="web" path="/" type="resources"/>
		<library id="config" path="config/" type="resources"/>
	</runtime>

</plugin>
