<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.aries.webapp" version="0.8.0" class="org.integratedmodelling.aries.webapp.ARIESWebappPlugin">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.thinklab.searchengine" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.thinklab.modelling" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.thinklab.mca" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.aries.aries" />
		<import plugin-id="org.integratedmodelling.thinklab.http"/>
<!--		<import plugin-id="org.integratedmodelling.thinklab.http.authentication" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.thinklab.http.geospace" reverse-lookup="true"/> -->
	</requires>	
	<runtime>
		<library id="plugin" path="classes/" type="code"> 
			<export prefix="*"/>
		</library> 
		<library type="resources" path="/" id="web" />
		<library type="resources" path="config/" id="config" />
	</runtime>
	
	<!-- application -->
	<extension plugin-id="org.integratedmodelling.thinkcap.core" point-id="thinkcap-application" id="aries">
		<parameter id="name" value="aries"/>
		<parameter id="location" value="web_aries" />
		<parameter id="entry-point" value="zul/main.zhtml" /> 
		<parameter id="model-class" value="org.integratedmodelling.aries.webapp.model.ARIESUserModel" />
		<parameter id="copyright" value="(C) 2009 integratedmodelling.org and the ARIES consortium" /> 
		<parameter id="logo-small" value="images/Aries64.png" /> 
		<parameter id="logo-large" value="images/Aries128.png" /> 
		<parameter id="short-description" value="Artificial Intelligence for Ecosystem Services"/>
		<parameter id="running-head" value="Ecosystem Services Explorer"/>
		<parameter id="long-description" value="Artificial Intelligence for Ecosystem Services: Ecosystem services explorer (general edition)."/>
	</extension> 
</plugin>
