<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.integratedmodelling.thinkcap.browser" version="0.8.0" class="org.integratedmodelling.aries.webapp.ARIESWebappPlugin">
	<requires>
		<import plugin-id="org.integratedmodelling.thinklab.core" reverse-lookup="true"/>
		<import plugin-id="org.integratedmodelling.aries.core" />
		<import plugin-id="org.integratedmodelling.thinkcap.core"/>
	</requires>	
	<runtime>
		<library id="plugin" path="classes/" type="code"> 
			<export prefix="*"/>
		</library> 
		<library type="resources" path="/" id="web" />
		<library type="resources" path="config/" id="config" />
	</runtime>
	
	<!-- applications -->
	<extension plugin-id="org.integratedmodelling.thinkcap.core" point-id="thinkcap-application" id="aries">
		<parameter id="name" value="aries"/>
		<parameter id="location" value="web_general" />
		<parameter id="entry-point" value="zul/main.zhtml" /> 
		<parameter id="model-class" value="org.integratedmodelling.aries.webapp.model.ARIESUserModel" />
		<parameter id="copyright" value="(C) 2008 integratedmodelling.org" /> 
		<parameter id="logo-small" value="/images/aries64.png" /> 
		<parameter id="logo-large" value="/images/aries128.png" /> 
		<parameter id="short-description" value="Artificial Intelligence for Ecosystem Services"/>
		<parameter id="running-head" value="ARIES explorer"/>
		<parameter id="long-description" value="Artificial Intelligence for Ecosystem Services - Ecosystem Services Explorer."/>
	</extension>
	
	
	<!-- the lucene-based index 
	<extension plugin-id="org.integratedmodelling.thinklab.searchengine" point-id="search-engine" id="thinkcap-knowledge-index">
		<parameter id="id" value="thinkcap-knowledge-index"/>
		<parameter id="ontology" value="thinklab-core"/>
		<parameter id="index">
			<parameter id="type" value="text"/>
			<parameter id="property" value="rdfs:label"/>
			<parameter id="weight" value="4.0"/>
		</parameter>
		<parameter id="index">
			<parameter id="type" value="text"/>
			<parameter id="property" value="rdfs:comment"/>
			<parameter id="weight" value="1.0"/>
		</parameter>
	</extension>	-->
</plugin>
